<div class="container-fluid px-0 ">
  <div class="row my-4 ">
    <div class="col-md-2 text-light">
      <!-- <h2>Filters</h2> -->
      <h5 class=" strong">Rating</h5>

      <select class="custom-select bg-transparent text-white" [(ngModel)]="defaultRateFilter" (change)=filterMovies()>
        <option value="{{option}}" *ngFor="let option of rateFilterOptions">{{option}}</option>
      </select>

      <h5 class="pt-4 strong">Genres</h5>
      <div class=" form-check" *ngFor="let genre of genres">
        <input type="checkbox" class="form-check-input" [(ngModel)]="genre.selected" (change)=filterMovies() name="{{genre.name}}"
          id="{{genre.name}}">
        <label class="form-check-label" for="{{genre.name}}">{{genre.name}}</label>
      </div>

    </div>
    <div class="col-md-10 ">
      <div class="card-columns">
        <div class="card" *ngFor="let movie of movies">
          <img class="card-img-top" src="{{imagePath}}{{movie.backdrop_path}}" alt="image">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.overview}}</p>
            <p class="card-text">
              <small class="text-muted">Avg. Vote: {{movie.vote_average}} | Votes: {{movie.vote_count}}</small><br>
              <small class="text-muted" >Genre: <strong *ngFor="let gName of movie.genreNames; let isLast = last">{{gName}} {{ isLast ? '': ' | '}} </strong> </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
