<!--The content below is only a placeholder and can be replaced.-->
<div class="container bg-dark">
   
  <div class="row">
      
    <div class="col-12">
      <h3 class="text-light text-uppercase py-3">{{title}}</h3>
      <ul class="nav nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/showing-now']" routerLinkActive="router-link-active" >Showing Now</a>
          </li>
          <li class="disabled " >
            <a class="nav-link disabled" >Top rated</a>
          </li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
